<div class="row">
  <h1><%= @advertising_platform.name %> Banners</h1>
</div>

<div class="row">
  <div class="col-lg-12 text-right">
    <%= link_to 'New Banner', new_advertising_platform_banner_path(@advertising_platform), class: 'btn btn-primary' %>
    <%= link_to 'Back', advertising_platforms_path, class: 'btn btn-default' %>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Active</th>
          <th>Clicks</th>
          <th>Views</th>
          <th>Max Views</th>
          <th colspan="4"></th>
        </tr>
      </thead>
      <tbody>
        <% @banners.each do |banner| %>
          <tr>
            <th><%= banner.id %></th>
            <td><%= banner.name %></td>
            <td><%= banner.active %></td>
            <td><%= banner.clicks_count %></td>
            <td><%= banner.views_count %></td>
            <td><%= banner.max_views_count %></td>
            <td><%= link_to 'Show', advertising_platform_banner_path(@advertising_platform, banner) %></td>
            <td><%= link_to 'Edit', edit_advertising_platform_banner_path(@advertising_platform, banner) %></td>
            <td><%= link_to 'Reset counters', reset_advertising_platform_banner_path(@advertising_platform, banner), method: :post, data: { confirm: 'Are you sure?'} %></td>
            <td><%= link_to 'Delete', advertising_platform_banner_path(@advertising_platform, banner), method: :delete, data: { confirm: 'Are you sure?'} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <%= paginate @banners %>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="instructions">
     <h4>Insert the banner url from the list above to your web site in a such way:</h4>
     <div class="snippet">
       <code>&lt;iframe src="<%= advertisement_advertising_platform_url(@advertising_platform) %>" frameBorder="0" width="200" heigth="200"&gt;&lt;/iframe&gt</code>
     </div>
   </div>
  </div>
</div>